body,html {
  padding: 0;
  margin: 0;
}
body {
  padding: 15px;
  background-color: #f2f3f5;
}
.layui-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#addForm,#editForm {
  padding: 30px 35px 0 0;
}